<ion-header>
  <ion-toolbar>
    <ion-title>Weekly Schedule</ion-title>
    <ion-buttons slot='start'>
      <ion-button routerLink='/login' routerDirection='back'>Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>11/19/20</ion-card-subtitle>
      <ion-card-title>Next Work Day</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Start <span>6:00</span></p>
      <p>Finish <span>14:00</span></p>
    </ion-card-content>
  </ion-card>
  
  <div class='week'>

    <div class='week__row'>

      <div class='week__col'></div>
      <div class='week__col' *ngFor='let hour of weekSchedule.hours'>{{hour}}</div>

    </div>

    <div class='week__row' *ngFor='let day of weekSchedule.days'>

      <div class='week__col'>{{day}}</div>
      <div class='week__col' *ngFor='let hour of weekSchedule.hours'></div>

    </div>

  </div>

  <nav>
    
  </nav>

</ion-content>
