.week {
    margin: 16px;
    min-width: calc(100vw - 32px);
    overflow-y: scroll;

    &__row {
        min-height: 30px;
        display: flex;
    }

    &__col {
        min-width: 50px;
        text-align: center;
    }
}