<ion-header>
  <ion-toolbar>
    <ion-title>Simple Shifts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page">

    <h1>{{ companyName }}</h1>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Next Work Day</ion-card-title>
        <ion-card-subtitle>12/8/20</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div>Tuesday</div>
        <div>8:00AM - 4:00PM</div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Tuesday</ion-card-title>
        <ion-card-subtitle>12/8/20</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        8:00AM - 4:00PM
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>12/8/20</ion-card-subtitle>
        <ion-card-title>Wednesday</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        8:00AM - 4:00PM
      </ion-card-content>
    </ion-card>
    
  </div>
  <nav class='mainnav'>
    <ion-icon class='mainnav__link' name="home-outline"></ion-icon>
    <ion-icon class='mainnav__link' name="calendar-outline"></ion-icon>
    <!-- <ion-icon class='mainnav__link' name="document-outline"></ion-icon> -->
    <ion-icon class='mainnav__link' name="person-circle-outline"></ion-icon>
  </nav>
</ion-content>