.input {
    &--valid {
        border: 2px solid green;
    }

    &--invalid {
        border: 2px solid red;
    }

    &__feedback {
        margin: 8px 20px;
        color: red;
        display: none;
    }
}

.d {
    &--block {
        display: block;
    }
}

.buttons {
    margin: 8px 20px;
    display: flex;
    align-items: flex-end;

    &--right {
        margin-left: auto;
    }
}